<div class="library-container">

  <div class="title-container">
    <h1>My Books</h1>
    <div>Pages</div>
    <div>Already<br/>read<br/>pages</div>
    <div>Pages left</div>
  </div>

  <div class="books-container">
    <div class="book-wrapper">
      <div class="book-title">
        Modern Java in Action: Lambdas, streams, functional and reactive programming 2nd Edition
      </div>
      <div class="book-pages">
        312
      </div>
      <div class="book-pages-done">
        0
      </div>
      <div class="book-pages-result">
        312
      </div>
    </div>

    <div class="book-wrapper">
      <div class="book-title">
        Modern Java in Action: Lambdas, streams, functional and reactive programming 2nd Edition
      </div>
      <div class="book-pages">
        312
      </div>
      <div class="book-pages-done">
        0
      </div>
      <div class="book-pages-result">
        312
      </div>
    </div>
  </div>

  <div class="result-container">
    <div class="book-pages">
      312
    </div>
    <div class="book-pages-done">
      0
    </div>
    <div class="book-pages-result">
      312
    </div>
  </div>

  <div class="calculate-container">
    <label>Start day <input type="date" /></label>
    <label>End day  <input type="date" /></label>
    <div class="book-pages">
      <span>Pages per day</span>
      <span>30</span>
    </div>
    <div class="book-pages">
      <span>Pages per month</span>
      <span>30</span>
    </div>
  </div>
</div>
