<div class="library-container">

  <div class="title-container">
    <h1>My Books</h1>
  </div>

  <div class="table-container">

    <table>
      <thead>
        <tr>
          <th class="column-header" style="width: 137px" (click)="sort_value = 'title'">Cover</th>
          <th class="column-header" (click)="sort_value = 'title'">Title</th>
          <th class="pages-column column-header" (click)="sort_value = 'pages'">Pages</th>
          <th class="pages-column column-header" (click)="sort_value = 'pages_done'">Already read pages</th>
          <th class="pages-column pages-column-top column-header" (click)="sort_value = 'pages_left'">Pages left</th>
        </tr>
      </thead>
    </table>

    <div class="books-container">
      <table>

          <tr *ngFor="let book of books | sortBy: [sort_value]; let i = index">
            <td><img [src]="book.cover" /></td>
            <td>{{book.title}}<h5 ><span class="delete-btn" (click)="onClickDeleteButton(book.title)">Delete</span></h5></td>
            <td class="pages-column">{{book.pages}}</td>
            <td id="{{i}}" class="pages-column page-click" (click)="onAddPages($event)">
              <span *ngIf="!isEditable[i]" (click)="onAddPagesNumber($event)">{{book.pages_done}}</span>
              <input type="number" *ngIf="isEditable[i]" class="pages-input" (blur)="onInputBlur($event)"/></td>
            <td class="pages-column">{{book.pages - book.pages_done}}</td>
          </tr>

      </table>
    </div>

  </div>

  <div class="result-container">

    <table>
      <tbody>
        <tr>
          <td class="no-border"></td>
          <td class="no-border"></td>
          <td class="pages-column result-pages">{{pages_done}}</td>
          <td class="pages-column result-pages pages-column-top">{{pages-pages_done}}</td>
        </tr>
      </tbody>
    </table>

    <table>

      <thead>
        <tr>
          <th>Start day</th>
          <th>End day</th>
          <th class="pages-column">Pages per day</th>
          <th class="pages-column pages-column-top">Pages per month</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><input type="date" [(ngModel)]="start_day" (change)="start_day = onStartChanged($event)"></td>
          <td><input type="date" [(ngModel)]="end_day" (change)="end_day = onEndChanged($event)"></td>
          <td class="pages-column">{{per_day}}</td>
          <td class="pages-column pages-column-top">{{per_month}}</td>
        </tr>
      </tbody>

    </table>

  </div>

</div>
