$border-color:#805D3B;
.search-box{
  max-width: 1000px;
  width: 80vw;
  height: 60vh;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-container{
  overflow: paged-y;
  width: 50vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.book{
  width: available;
  border: 1px solid #805D3B;
  display: flow-root;
  align-items: center;
  padding: 5px;
}

.add-book{
  font-weight: bolder;
  font-style: italic;
  color: #453230;
  margin: 5px;
  float: right;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

.add-book:hover{
  color: #a5636e;
  text-decoration: underline;
}

.search-box-container{
  padding: 83px 0 40px 0;
  display: flex;
  justify-content: center;
}

.search-input{
  width: 90%;
  font-size: 45px;
  border: 1px solid rgba(32,32,32,0.5);
  border-radius: 20px;
  text-align: center;
}

.search-input:focus{
  border: 1px solid rgb(178, 36, 28);
  outline: none;
  background: rgba(178, 36, 28, 0.1);;
}

.loading{
  text-align: center;
  font-size: 96px;
  font-style: italic;
  color: #FFBA75;
}

.loading2{
  text-align: center;
  font-size: 56px;
  font-style: italic;
  color: #FFBA75;
}

.successLoading{
  background: rgba(156,156,156,0.51);
}

.not-successLoading{
  background: rgba(156,94,82,0.51);
}

.dot1{
  animation: dot1 1.5s linear 0s infinite alternate;
}

.dot2{
  animation: dot2 1.5s linear 0.5s infinite alternate;
}

.dot3{
  animation: dot1 1.5s linear 1s infinite alternate;
}


@keyframes dot1 {
  0%   {color: rgba(255, 186, 117, 1)}
  25%  {color: rgba(255, 186, 117, 0.75)}
  50%  {color: rgba(255, 186, 117, 0.5)}
  75%  {color: rgba(255, 186, 117, 0.25)}
  100% {color: rgba(255, 186, 117, 0)}
}

@keyframes dot2 {
  0%   {color: rgba(255, 186, 117, 0)}
  25%  {color: rgba(255, 186, 117, 0.25)}
  50%  {color: rgba(255, 186, 117, 0.5)}
  75%  {color: rgba(255, 186, 117, 0.75)}
  100% {color: rgba(255, 186, 117, 1)}
}

@keyframes dot3 {
  0%   {color: rgba(255, 186, 117, 0.75)}
  25%  {color: rgba(255, 186, 117, 1)}
  50%  {color: rgba(255, 186, 117, 0)}
  75%  {color: rgba(255, 186, 117, 0.25)}
  100% {color: rgba(255, 186, 117, 0.5)}
}
