$border-color:#805D3B;
.search-box{
  max-width: 1000px;
  width: 80vw;
  height: 60vh;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-container{
  overflow: paged-y;
  width: 50vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.book{
  width: available;
  border: 1px solid #805D3B;
  display: flow-root;
  align-items: center;
  padding: 5px;
}

.add-book{
  font-weight: bolder;
  font-style: italic;
  color: #453230;
  margin: 5px;
  float: right;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

.add-book:hover{
  color: #a5636e;
  text-decoration: underline;
}

.search-box-container{
  padding: 83px 0 40px 0;
  display: flex;
  justify-content: center;
}

.search-input{
  width: 90%;
  font-size: 45px;
  border: 1px solid rgba(32,32,32,0.5);
  border-radius: 20px;
  text-align: center;
}

.search-input:focus{
  border: 1px solid rgb(178, 36, 28);
  outline: none;
  background: rgba(178, 36, 28, 0.1);;
}

.loading{
  height: content-box;
  width: content-box;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.loading2{
  margin: 10px;
  height: 10px;
  width: 30px;
  float: right;
  display: flex;
}

.dot1{
  background: rgba(255, 186, 117, 1);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dot2{
  background: rgba(255, 186, 117, 1);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.dot3{
  background: rgba(255, 186, 117, 1);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

