
<div class="search-box">

  <div class="search-box-container">
    <input type="text" class="search-input" placeholder="Search books" (blur)="onSearch($event)"/>
  </div>

  <div class="books-container">
    <div class="loading" *ngIf="isLoading"><span class="dot1">.</span><span class="dot2">.</span><span class="dot3">.</span></div>
    <div class="book" *ngFor="let book of books; let i = index">{{book.title}} <div id="{{i}}" class="add-book" (click)="onAdd($event)">Add</div></div>
  </div>

</div>
