
<div class="search-box">

  <div class="search-box-container">
    <input type="text" class="search-input" placeholder="Search books" (blur)="onSearch($event)"/>
  </div>

  <div class="books-container">
    <div class="loading" *ngIf="isLoading">
      <div class="dot1" style="width: 30px; height: 30px"></div>
      <div class="dot2" style="width: 30px; height: 30px"></div>
      <div class="dot3"  style="width: 30px; height: 30px"></div>
    </div>
    <div class="book" *ngFor="let book of books; let i = index">{{book.title}}
      <div class="loading2" *ngIf="isLoading2[i]"><div class="dot1"></div><div class="dot2"></div><div class="dot3"></div></div>
      <div id="{{i}}" class="add-book" (click)="onAdd($event)" *ngIf="!isLoading2[i]">
        <span *ngIf="!isChecked[i]">Add</span>
          <span *ngIf="isChecked[i]">
          <span *ngIf="successLoading[i]">Added to library</span>
          <span *ngIf="!successLoading[i]">This book is already in Library</span>
        </span>
      </div>
    </div>
  </div>

</div>
